body {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
}
.main {
  /*overflow: auto;*/
  /*padding: 10px 0;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*margin: 70px 5px 0;*/
}
