.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.convert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  transition: all 0.4s;
}
.convert__btn {
  background-color: #a789dd;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 5px #a789dd;
}
.convert:hover {
  transform: scale(0.97);
}
