body {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #27272e;
  color: white;
  height: 70px;
  width: 100%;

}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 0 30px;
}
.link:hover {
  text-decoration: underline;
}
.active {
  color: #a789dd;
}
