* {
  font-family: sans-serif;
}
.input_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 2px #777474;
  width: 292px;
  height: 56px;
  border-radius: 8px;
}
.input_form:hover {
  border: solid 2px #7c3aed;
}

.input__input {
  padding: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 60%;
}
.input__select {
  width: 40%;
}
.divider {
  width: 1px;
  background-color: #ccc;
  height: 50%;
}
.select__options {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 12px 16px;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  gap: 2px;
}
.select__options:hover {
  background-color: #ede9fe;
}

.select__form {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 140px;
  width: 160px;
  position: absolute;
  box-shadow: 0px 4px 16px 0px rgba(15, 23, 42, 0.15);
  border-radius: 8px;
  transform: translate(0, 10px);
  background-color: white;
}
.input__btn {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.btn_img {
  width: 24px;
  height: 24px;
}
